$trash-border: solid 1px gray;

$trash-width: 80px;
$trash-height: 160px;
$trash-margin: 20px;

$garbages-width: 80px;
$garbages-height: 80px;
$garbages-border: solid 1px black;
$garbages-padding: 10px;
$garbages-margin: 10px;

$clicked-border: solid 3px blue;

